@font-face {
  font-family: 'GalanoGrotesqueExtraBold';
  src: local('GalanoGrotesqueExtraBold'),
    url(../public/fonts/GalanoGrotesqueExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'GalanoGrotesqueBold';
  src: local('GalanoGrotesqueBold'), url(../public/fonts/GalanoGrotesqueBold.woff) format('woff');
}

@font-face {
  font-family: 'NewzaldBold';
  src: local('NewzaldBold'), url(../public/fonts/test-newzald-bold.woff2) format('woff2');
}
